@using LabelServiceSys.Models;
<!DOCTYPE html>
<html>
<head>
    <script src="@Url.Content("~/JS/UserManagement_Create.js")" type="text/javascript"></script>
</head>
@*<body>
    @using (Html.BeginForm("Create", "User", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <table cellpadding="3">
            <tr>
                <td>
                    用户号:
                </td>
                <td>
                    <input type="text" id="txturNum" name="txturNum" class="easyui-validatebox" required="true" />
                </td>
                <td>
                    用户密码:
                </td>
                <td>
                    <input type="password" id="txturPSW" name="txturPSW" class="easyui-validatebox" required="true" />
                </td>
                <td>
                    确认密码:
                </td>
                <td>
                    <input type="password" id="txtReurPSW" name="txtReurPSW" class="easyui-validatebox"
                        required="true" />
                </td>
            </tr>
            <tr>
                <td>
                    姓名:
                </td>
                <td>
                    <input type="text" id="txturName" name="txturName" />
                </td>
                <td>
                    性别:
                </td>
                <td>
                    <input type="text" id="ddurSex" name="ddurSex" />
                    <input type="hidden" id="txturSex" name="txturSex" value="-99" />
                </td>
                <td>
                    年龄:
                </td>
                <td>
                    <input type="text" id="txturAge" name="txturAge" style="width: 100%" />
                </td>
            </tr>
            <tr>
                <td>
                    员工工号:
                </td>
                <td>
                    <input type="text" id="txturStaffNum" name="txturStaffNum" />
                </td>
                <td>
                    用户部门:
                </td>
                <td>
                    <input type="text" id="txturDept" name="txturDept" />
                </td>
                <td>
                    用户职位:
                </td>
                <td>
                    <input type="text" id="txturDuty" name="txturDuty" />
                </td>
            </tr>
            <tr>
                <td>
                    口岸代码:
                </td>
                <td>
                    <input type="text" id="ddlurUnitCode" name="ddlurUnitCode" class="easyui-validatebox"
                        required="true" />
                    <input type="hidden" id="txturUnitCode" name="txturUnitCode" value="-99" />
                </td>
                <td>
                    备注:
                </td>
                <td colspan="3">
                    <textarea id="areaurMemo" name="areaurMemo" style="width: 100%" rows="3"></textarea>
                    <input type="hidden" id="txturMemo" name="txturMemo" />
                </td>
            </tr>
        </table>
    }
</body>*@

<body>
    @using (Html.BeginForm("Create", "User", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <table cellpadding="3">
            <tr>
                <td>
                    @Html.GetLangbyKey("User_Html_Create_Label1"):
                </td>
                <td>
                    <input type="text" id="txturNum" name="txturNum" class="easyui-validatebox" required="true" />
                </td>
                <td>
                    @Html.GetLangbyKey("User_Html_Create_Label2"):
                </td>
                <td>
                    <input type="password" id="txturPSW" name="txturPSW" class="easyui-validatebox" required="true" />
                </td>
                <td>
                    @Html.GetLangbyKey("User_Html_Create_Label3"):
                </td>
                <td>
                    <input type="password" id="txtReurPSW" name="txtReurPSW" class="easyui-validatebox"
                        required="true" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("User_Html_Create_Label4"):
                </td>
                <td>
                    <input type="text" id="txturName" name="txturName" />
                </td>
                <td>
                    @Html.GetLangbyKey("User_Html_Create_Label5"):
                </td>
                <td>
                    <input type="text" id="ddurSex" name="ddurSex" />
                    <input type="hidden" id="txturSex" name="txturSex" value="-99" />
                </td>
                <td>
                    @Html.GetLangbyKey("User_Html_Create_Label6"):
                </td>
                <td>
                    <input type="text" id="txturAge" name="txturAge" style="width: 100%" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("User_Html_Create_Label7"):
                </td>
                <td>
                    <input type="text" id="txturStaffNum" name="txturStaffNum" />
                </td>
                <td>
                    @Html.GetLangbyKey("User_Html_Create_Label8"):
                </td>
                <td>
                    <input type="text" id="txturDept" name="txturDept" />
                </td>
                <td>
                    @Html.GetLangbyKey("User_Html_Create_Label9"):
                </td>
                <td>
                    <input type="text" id="txturDuty" name="txturDuty" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("User_Html_Create_Label10"):
                </td>
                <td>
                    <input type="text" id="ddlurUnitCode" name="ddlurUnitCode" class="easyui-validatebox"
                        required="true" />
                    <input type="hidden" id="txturUnitCode" name="txturUnitCode" value="-99" />
                </td>
                <td>
                    @Html.GetLangbyKey("User_Html_Create_Label11"):
                </td>
                <td colspan="3">
                    <textarea id="areaurMemo" name="areaurMemo" style="width: 100%" rows="3"></textarea>
                    <input type="hidden" id="txturMemo" name="txturMemo" />
                </td>
            </tr>
        </table>
    }
</body>
</html>
