@using LabelServiceSys.Models;
<!DOCTYPE html>
<html>
<head>
    <title>@Html.GetLangbyKey("Default_Html_Title")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/Common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/util.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Site.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
   @* <link href="@Url.Content("~/JqueryUI/themes/default/easyui.css")" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/black/easyui.css")" rel="stylesheet"
        title="black" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/bootstrap/easyui.css")" rel="stylesheet"
        title="bootstrap"/>
    @* <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/cupertino/easyui.css")" rel="stylesheet"
        title="cupertino"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/dark-hive/easyui.css")" rel="stylesheet"
        title="dark-hive"/>*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/default/easyui.css")" rel="stylesheet"
        title="default"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/gray/easyui.css")" rel="stylesheet"
        title="gray"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro/easyui.css")" rel="stylesheet"
        title="metro"/>
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro-blue/easyui.css")" rel="stylesheet"
        title="metro-blue"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro-gray/easyui.css")" rel="stylesheet"
        title="metro-gray"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro-green/easyui.css")" rel="stylesheet"
        title="metro-green"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro-orange/easyui.css")" rel="stylesheet"
        title="metro-orange"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro-red/easyui.css")" rel="stylesheet"
        title="metro-red"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/pepper-grinder/easyui.css")" rel="stylesheet"
        title="pepper-grinder"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/sunny/easyui.css")" rel="stylesheet"
        title="sunny"/>*@
    <link href="@Url.Content("~/JqueryUI/themes/icon.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/JqueryUI/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <style type="text/css">
        .cls_vertmenu
        {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 100%;
            width: 135px;
            padding: 0px;
            margin: 0px;
        }
        .cls_vertmenu ul
        {
            list-style: none;
            margin: 0px;
            padding: 0px;
            border: none;
        }
        .cls_vertmenu ul li
        {
            margin: 0px;
            padding: 0px;
        }
        .cls_vertmenu ul li a
        {
            font-size: 100%;
            display: block;
            border-bottom: 1px dashed #C39C4E;
            padding: 7px 4px 7px 4px;
            text-decoration: none;
            color: #666666;
            width: 135px;
        }
        .cls_vertmenu ul li a:hover, .cls_vertmenu ul li a:focus
        {
            color: #000000;
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
